.perlin-parent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.perlin-container {
  display: flex;
  justify-content: center;
}

/* button:focus {
  outline: none;
} */

.grid {
  display: flex;
  flex-flow: column;
  margin: 0px 2px;
}

.row {
  display: flex;
}

.cell {
  width: 22px;
  height: 22px;
}
